p {
    font-style: italic;
    font-size: 15px;
    font-family: monospace;
    font-weight: 1000;
    line-height: 30px;
    color: rgb(3, 250, 250);
    text-align: center;
}

#heading {
    color: rgb(255, 0, 179);
    text-align: center;
}