*{ /*Universal selector,the props are applied to each and every selector*/
    padding: 0;
    margin: 0;
}
h1 {
    background-color: darkturquoise;
    color: black;
    width: 350px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    border-left: white solid 5px;
    border-right: white 5px solid;
}

#p1 {
    background-color: rgb(159, 86, 227);
    color: black;
    border-style: dashed;
    border-color: beige;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 25px;
    margin: 20px;
    border-radius: 10px;
    border-width: 3px;
}

#p2 {
    background-color: chartreuse;
    color: black;
    padding: 30px;
    margin: 10px;
    border: dotted white 4px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px 20px 10px 20px;
    /* short hand notation for border-> type color size */
}

#p3 {
    background-color: coral;
    color: black;
    padding: 10px 30px 40px 50px; /*top right bottom left in clockwise direction*/
    padding: 10px 30px; /* top,bottom(y) and left,right(x) */
    border-radius: 50px;
    margin: 30px 10px 10px 10px;
    margin: 20px;
    border-bottom: solid white 5px;
    border-top: white 5px solid ;
}

/* span tag pe apply nahi hogi changes in height width bcuz its an inline element */